@page "/fetchperson"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Data.Model
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Persons</PageTitle>

<h1>Get Persons</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (persons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (MyPerson person in persons)
    {
        <div>@person.PreferredName</div>
    }
}

@code {
    private MyPerson[]? persons;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await Http.GetAsync("https://localhost:7109/person");
            persons = await Http.GetFromJsonAsync<MyPerson[]>("Person");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
